{% load static %}
<!DOCTYPE html>
<head>
<title>{% block title %}{% endblock %}</title>
<link href="{% static "css/blog.css" %}" rel="stylesheet"> </head>
<body>
<div id="content">
{% block content %}
{% endblock %}
</div>
<div id="sidebar">
<h2>My blog</h2>
<a href="{% url 'posts_list_url' %}">
	{{ 'Posts' }}
</a>
<a href="{% url 'tags_list_url' %}">
	{{ 'Tags'}}
</a>
<h2>Create</h2>
<a href="{% url 'post_create_url' %}">
	{{ 'Post' }}
</a>
<a href="{% url 'tag_create_url' %}">
	{{ 'Tag'}}
</a>
<h2>
	<a href="/admin">Admin</a>
</h2>
<div class="admin-panel">
	{% block admin-panel %}{% endblock %}
</div>

<p>Мой первый блог</p>
</div>

</body>
</html>